body {
  background-image: url(../images/grid.jpg);
  font-family: Open Sans, helvetica;
}

.vertical-spacer{
  padding: 6em;
}
#newsletter{
margin-bottom: 5em;  
  
}

#footer {
  background-color: #262626;
  color: #aaaaaa;
  padding-bottom: 20px;
  padding-top: 20px;
}

#footer a {
  color: #dddddd;
}
#footer a:hover {
  color: #bbbbbb;
}
#footer p{
  margin: 15px 0px 0px 0px;
}
.btn-success {
  background-color: #2ecc71;
  font-weight: 300;
}
.btn-success:hover {
  background-color: #27ae60;
}
.social a {
  margin-top: 5px;
  font-size: 28px;
  margin-left: 30px;
}

#wrapper {
  background-image: url(../images/background/background.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#wrapper h1{
  font-size: 75px;
  margin-top: 0.8em;
}

#wrapper h2{
  font-size: 20px;
  margin-bottom: 2em;
}

#wrapper a{
  font-size: 20px;
  text-shadow: none;
}

.container {
  margin-bottom: 1em;
  margin-top: 1em;
}


.feature p{
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 8em;
}

.feature img{
  margin-bottom: 2em;
  margin-top: 8em;
  width: 80px;
}

.navbar-transparent{
  background-color: rgba(0, 0, 0, 0.5)
}

h3 {
  color: #262626;
}
/*----------- Prend la main sur les éléments de la navbar bootstrap difficilement modifiable-------*/

/* How to override the default Bootstrap navbar */

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

#mc_embed_signup{
  margin-bottom: 5em;
}

/*new card burger*/

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center !important;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

/*end new card burger*/